body {
  margin: 0;
  padding: 0;
  background: url('../images/background.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.glass-container {
  width: 280px;
  padding: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: hwb(328 95% 0% / 0.704);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border: 1.5px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

.glass-container h2 {
  color: #000000;
  margin-bottom: 18px;
}

.glass-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.glass-container button {
  width: 97%;
  padding: 10px;
  background-color: #000000;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.glass-container button:hover {
  background-color: #252222;
}

button {
  margin-top: 5px;       
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #ff8dad;
}